<footer class="footer">
<ul>
  <li>
    <a href="//twitter.com/GawelHanna" title="Follow me on Twitter" style="text-decoration:none">
      <i class="fab fa-twitter"></i>
    </a>
  </li>


    <li>
      <a href="https://www.researchgate.net/profile/Hanna_Gawel3" title="View my ResearchGate profile" style="text-decoration:none">
        <i class="fab fa-researchgate" aria-hidden="true"></i>
      </a>
    </li>



    <li>
      <a href="https://scholar.google.com/citations?user=rxf11gEAAAAJ&hl=pl" title="View my Google Scholar profile" style="text-decoration:none">
        <i class="ai ai-google-scholar" aria-hidden="true"></i>
      </a>
    </li>

    <li>
      <a href="http://orcid.org/0000-0001-5714-0459" title="View my ORCID profile" style="text-decoration:none">
        <i class="ai ai-orcid" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  <span class="flip">©</span> <a href="/license/">Hanna Gawel 2021–{{ site.time | date: '%y' }}</a>
</footer>
