{% assign pubs = site.data.publications | sort:"date" | reverse %}

{% assign preprints = pubs | where:"type","preprint" %}
{% assign articles = pubs | where:"type","journal" %}

<!-- <h2>Publications</h2> -->
{% include print_research.html pubs=pubs %}

<!-- <h2>Preprints</h2>
{% include print_research.html pubs=preprints %}

<h2>Journal Articles</h2>
{% include print_research.html pubs=articles %} -->


<!-- <h2>Selected Talks</h2>
<ul class="item">
  <li class="item"><b>Gawel, H.</b> (2020).
    <span class="title"><a href="XXX">YYY</a></span>.
    <em><a href="tttt">rrrr</a> (<a href="ttt">yyyy</a>)</em>.
    <div class="small-icons"><a href="ttt"><i class="ai ai-figshare" aria-hidden="true"></i></a></div>
  </li>

</ul> -->
